<%= turbo_frame_tag "event_form" do %>
  <%= form_with model: event, data: { turbo_frame: "event_form" } do |f| %>
    <!-- title -->
    <div class="mb-3">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <!-- description -->
    <div class="mb-3">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
    
      <% if @event.errors.any? %>
        <div class="error-messages">
          <h3><%= pluralize(@event.errors.count, "error") %> prevented this event from being saved:</h3>
          <ul>
            <% @event.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>



    <!-- start_time -->
     <div class="row mb-3">
      <div class="col-md-6">
        <%= f.label :start_time, class: "form-label" %>
        <%= f.datetime_local_field :start_time, class: "form-control" %>
      </div>
      <div class="col-md-6">
        <%= f.label :end_time, class: "form-label" %>
        <%= f.datetime_local_field :end_time, class: "form-control" %>
      </div>
    </div>

     <div class="mb-3">
      <%= f.label :preferred_email_id, "Preferred Email", class: "form-label" %>
      <%= f.collection_select :preferred_email_id,
            current_user.preferred_emails,
            :id,
            :email,
            { include_blank: true },
            { class: "form-select" } %>
    </div>

    <%= f.submit (event.persisted? ? "Update" : "Create"), class: "btn btn-success" %>
  <% end %>
<% end %>
