<%= turbo_frame_tag "event_form" do %>
  <%= form_with model: event, data: { turbo_frame: "event_form" } do |f| %>
    <!-- title -->
    <div class="mb-3">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <!-- description -->
    <div class="mb-3">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <!-- start_time -->
    <div class="mb-3">
      <%= f.label :start_time %>
      <%= f.datetime_select :start_time, class: "form-control" %>
    </div>

    <!-- end_time -->
    <div class="mb-3">
      <%= f.label :end_time %>
      <%= f.datetime_select :end_time, class: "form-control" %>
    </div>

    <%= f.submit (event.persisted? ? "Update" : "Create"), class: "btn btn-success" %>
  <% end %>
<% end %>
