<%= turbo_frame_tag "preferred_email_form" do %>
  <%= form_with(model: preferred_email, local: false) do |form| %>
    <div class="mb-3">
      <%= form.label :subject, class: "form-label" %>
      <%= form.text_field :subject, class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= form.label :email, class: "form-label" %>
      <%= form.email_field :email, class: "form-control" %>
    </div>

    <%= form.submit preferred_email.new_record? ? "Create Email" : "Update Email", class: "btn btn-primary" %>
  <% end %>
<% end %>
