<nav class="navbar">
  <div class="navbar-container">
    <%= link_to "Clask", root_path, class: "navbar-brand" %>

    <div class="navbar-links">
      <ul class="nav-menu">
        <li><%= link_to "Calendar", root_path, class: "nav-link" %></li>
        <li><%= link_to "Courses", preferred_emails_path, class: "nav-link" %></li>
        <li><%= link_to "Assignments", root_path, class: "nav-link" %></li>
        <li><%= link_to "Tests", root_path, class: "nav-link" %></li>
      </ul>

      <div class="nav-user-dropdown">
        <% if user_signed_in? %>
          <div class="dropdown">
            <button class="dropdown-toggle"><%= current_user.email %></button>
            <div class="dropdown-menu">
              <%= link_to "Profile", root_path, class: "dropdown-item" %>
              <%= link_to "Settings", root_path, class: "dropdown-item" %>
              <div class="dropdown-divider"></div>
              <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </div>
        <% else %>
          <div class="dropdown">
            <button class="dropdown-toggle">Account</button>
            <div class="dropdown-menu">
              <%= link_to "Sign In", new_user_session_path, class: "dropdown-item" %>
              <%= link_to "Sign Up", new_user_registration_path, class: "dropdown-item" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
